<div>
<%= button "New", method: :get, to: Routes.test_mix_path(@conn, :new), class: "p-1 px-2 b-blue" %>
<h1 class="text-3xl pl-5 font-heading inline-block">Listing TestMixes</h1>
</div>

<div class="p-2 py-5">
  <%= for test_mix <- @testmixes do %>
  <div class="py-1">
    <%= button "Delete",method: :delete, to: Routes.test_mix_path(@conn, :delete, test_mix), class: "p-1 px-2 mr-4 b-red" %>
    <%= button "Show", method: :get, to: Routes.test_mix_path(@conn, :show, test_mix), class: "p-1 px-2 b-blue" %>
    <p class="pl-5 inline-block font-bolded"><%= test_mix.name %></p>
  </div>
  <% end %>
</div>
