<div>
<%= link "New", to: Routes.test_mix_path(@conn, :new), class: "text-white p-1 px-2 bg-blue-600 hover:bg-blue-800 font-bold rounded inline-block" %>
<h1 class="text-3xl pl-5 font-heading inline-block">Listing TestMixes</h1>
</div>

<div class="p-2 py-5">
  <%= for test_mix <- @testmixes do %>
  <div class="py-1">
    <%= link "Show", to: Routes.test_mix_path(@conn, :show, test_mix), class: "text-white p-1 px-2 bg-blue-700 hover:bg-blue-800 font-bold rounded" %>
    <p class="pl-5 inline-block font-bolded"><%= test_mix.name %></p>
  </div>
  <% end %>
</div>
