<h1>Show Branch</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @branch.name %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @branch.description %>
  </li>

  <li>
    <strong>Remote:</strong>
    <%= @branch.remote %>
  </li>

  <li>
    <strong>Refspec:</strong>
    <%= @branch.refspec %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.branch_path(@conn, :edit, @branch) %></span> |
<span><%= link "Back", to: Routes.branch_path(@conn, :index) %></span>
