/* This file is for your main application CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Alerts and form errors used by phx.new */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 4px solid transparent;
  border-radius: 1rem;
  font-weight: bolder;
}
.alert-info {
  background-color: rgb(99 102 241);
  border-color: rgb(67 56 202);
}
.alert-warning {
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  background-color: #a94442;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  font-weight: bolder;
  display: block;
}

/* LiveView specific classes for your customization */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected{
  cursor: wait;
}
.phx-disconnected *{
  pointer-events: none;
}

.phx-modal {
  opacity: 1!important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15vh auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Custom app styles */
a, h1, h2, h3, p, label, th {
  color: white;
}

h1 {
  font-size: x-large;
}

h2 {
  font-size: large;
}

button {
  font-weight: bold;
  color: white;
  border-radius: 0.25rem;
  border-style: solid;
}

.b-blue {
  background-color: rgb(37 99 235);
}

.b-blue:hover {
  background-color: rgb(55 48 163);
}

.b-red {
  background-color: rgb(153 27 27);
}

.b-red:hover {
  background-color: rgb(220 38 38);
}

a {
  font-weight: bold;
}

label {
  padding: 1px;
  font-weight: bold;
}

input {
  padding: 1px;
  border-radius: 0.25rem;
  border-width: 1px;
}
