<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "TPanel" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
    <header>
<div class="flex flex-wrap place-items-center">
  <section class="relative mx-auto">
    <nav class="flex justify-between bg-indigo-900 text-white w-screen">
      <div class="px-5 xl:px-8 py-3 flex w-1/4">
        <a class="text-3xl font-bold font-heading">
          TPanel
        </a>
        <ul class="hidden md:flex px-8 text-xl mx-auto font-semibold font-heading space-x-6">
          <li><a class="hover:text-gray-200">Home</a></li>
          <li><%= link "Mixes", to: Routes.test_mix_path(@conn, :index), class: "hover:text-gray-200" %></li>
          <li><%= link "Branches", to: Routes.branch_path(@conn, :index), class: "hover:text-gray-200" %></li>
          <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
              <li><%= link "Dashboard", to: Routes.live_dashboard_path(@conn, :home), class: "hover:text-gray-200" %></li>
          <% end %>
        </ul>
      </div>
    </nav>
  </section>
</div>
    </header>
    <%= @inner_content %>
  </body>
</html>
